<div class="row">
    <h2>Messaging Profiles <a class="pull-right btn btn-primary btn-xs" href="#/profiles/new"><i class="glyphicon glyphicon-plus"></i></a></h2>
    <ol class="breadcrumb">
        <li><a href="/admin/">Admin</a></li>
        <li>Profiles</li>
    </ol>
    <div class="panel panel-primary span4">
    <div class="panel-body">
        <h4 ng-repeat="profile in profiles">
            <div ng-if="profile">
            <a href="#/profiles/{{profile.uuid}}" class="thumb">{{profile.title}}</a> &nbsp;&nbsp;<button class="btn btn-danger btn-xs" ng-click="remove(profile)"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </h4>
    </div>
    </div>
</div>
